# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal
database.yml

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore Vagrant artifacts
.vagrant/

# Mac OSX garbage
.DS_Store
