<h1>Charities#index</h1>
<p>Find me in app/views/charities/index.html.erb</p>
<!-- beginning of charity profile section -->
	<div id="page_width2">
		<div id="cover_photo_section">
			<div id="name">
			<a href="#">Feel Good Inc.</a>
			</div>
			<div id="location">
				<a href="#">LOGO HERE</a>
			</div>
			
		</div>
		<div id="charity_profile">Description<br/>Some description text here
		</div>
		
	</div>
	
		
<!-- end of charity profile section -->

