<!-- beginning of charity profile section -->
	<div id="page_width2">
		<div id="cover_photo_section">
			<div id="name">
			<a href="#">Feel Good Inc.</a>
			</div>
			<div id="location">
				<a href="#">LOGO HERE</a>
			</div>

		</div>
<div style="height:20px"></div>
<!-- beginning of ACTIVITY section -->
	<div id="page_width6">
		<div id="activity_section">


			<div class="activity_update">
				<ul>
					<li>
						<span class="activity_header">Description</span><br/>
						<div id="activity_text">
						Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam purus nulla, 
consectetuer sit amet, porta eu, gravida vitae, neque. Vestibulum ac diam sed est tempor sodales. Cras sit amet lacus vel urna semper congue. Curabitur rhoncus purus non augue. Pellentesque tristique posuere ipsum. Maecenas suscipit rhoncus nisl. Donec volutpat. Curabitur porttitor eros sed libero. Sed vitae elit. Maecenas mattis urna quis libero.
						</div>
					</li>
					<li>
						<span class="activity_header">Contact Info</span><br/>
						<div id="activity_text">
						felix@feelgood.org<br/>
						333 Happy Blvd.<br/>
						Sunnydale, CA, 33333<br/>
						333.333.3333

						</div>
					</li>
					
				</ul>		
			</div>
		</div>

	</div>

	<!-- end of ACTIVITY section -->










